<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Check</title>
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');
    </style>

</head>

<body id="app">
    <h1>Password Check</h1>
    <form>
        <input data-cy="input1" :type="passwordType[0].inputType" v-model="word1" @keyup="checkPassword">
        <input data-cy="input2" :type="passwordType[0].inputType" v-model="word2" @keyup="checkPassword">
        <button data-cy="button" @click.prevent="togglePassword">{{passwordType[0].buttonText}}</button>
    </form>
    <section>
        <!--<p>Passwords are equal <span data-cy="equal" id="equal">❌</span></p>-->
        <p v-for="check of checks">{{check.description}} <span :data-cy="check.id" :id="check.id">
                {{check.check}}</span>
        </p>
    </section>

    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="scripts.js"></script>
</body>

</html>